<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
       <ion-back-button text="Exercises" color="light" defaultHref="/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Exercise</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteExercise()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="exercise">
    <ion-row>
      <ion-col>
        <ion-img [src]="exercise?.thumbnail"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{exercise?.name}}</h1>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center">{{exercise?.difficulty}}</h1>        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="exercise?.muscle_group && exercise?.muscle_group.length > 0; else noMuscle">
          <ion-item *ngFor="let muscle of exercise?.muscle_group">
            <h1 class="ion-text-center">{{muscle}}</h1>        
          </ion-item>
        </ion-list>
        <ng-template #noMuscle>
          <h1 class="ion-text-center"> No muscular group.</h1>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list *ngIf="exercise?.equipment && exercise?.equipment.length > 0; else noEquipment">
          <ion-item *ngFor="let element of exercise?.equipment">
            <h1 class="ion-text-center">{{element}}</h1>        
          </ion-item>
        </ion-list>
        <ng-template #noEquipment>
          <h1 class="ion-text-center"> No equipment required.</h1>
        </ng-template>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
