<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
       <ion-back-button text="Exercises" color="light" defaultHref="/exercises"></ion-back-button>
    </ion-buttons>
    <ion-title color="warning">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
          <ion-input type="text" placeholder="Username" #username></ion-input>
        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-input type="password" placeholder="Password" #password></ion-input>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-button expand="block" color="warning" (click)="signIn(username, password)">
    Sign In
  </ion-button>
</ion-content>
